<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Espacio </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>  Estado</label>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="espacio.estacionamiento" name="firstName" required
                            name="firstName">
                    </div>

                    <div class="form-group">
                        <label> Piso </label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="espacio.piso"
                            name="lastName">
                    </div>

                    <div class="form-group">
                        <label> Numero</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="espacio.numero"
                            name="emailId">
                    </div>

                    <div class="form-group">
                        <label> Estado</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="espacio.estado"
                            name="emailId">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>